<div class="container-fluid">
    <!-- helpdesk greater nav div start -->
    <div>
        <nav class="mt-2" > <span class="fontsize3">Helpdesk</span><img src="/assets/greater-than.png" class="greaterimg" alt="greater-than">
             <span class="fontsize3">Search Service Case</span><img src="/assets/colon.png" class="greaterimg" alt="colon"> 
             <span class="fontsize2">12568746</span>
             <button type="button backbtn2" class="btn backbtn float-end"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
        <hr>
            </nav>
       </div>
       <!-- helpdesk greater nav div end -->
    
    <!-- second nav start -->
    <app-header></app-header>
     <!-- second nav end -->

    <div class="container-fluid mt-4">
      <!-- table start -->
<div class="mb-4">
    <a class="btn downloadbtn" href="#" role="button"><i class="fa fa-download" aria-hidden="true" style="padding-right: 10px;"></i>Download Selected</a>
    <a class="btn downloadbtn" href="#" role="button"><i class="fa fa-download" aria-hidden="true" style="padding-right: 10px;"></i>Download All</a>
</div>
      <table class="table tabcol">
        <thead class="table-light ">
          <tr>
            <th scope="col">Select</th>
            <th scope="col">File Name</th>
            <th scope="col">Upload Date Time</th>
            <th scope="col">Uploaded By</th>
            <th scope="col">File Size</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tabcol2">
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </td>
            <td>File Name</td>
            <td>23-2-2023 11:50</td>
            <td>UserName</td>
            <td>20 KB</td>
          </tr>
          <tr>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </td>
            <td>File Name</td>
            <td>23-2-2023 11:50</td>
            <td>UserName</td>
            <td>20 KB</td>
          </tr>
        </tbody>
      </table>
      <!-- table end -->
    </div>

   
</div>