<div class="container-fluid">
   <div class="container">
    <nav class="mt-2"> <span class="fontsize3">Helpdesk</span><span></span><img src="/assets/greater-than.png"
        class="greaterimg" alt=""> <span class="fontsize2">Search Service Case</span>
</nav>
   </div>
   <hr>
<div class="container mt-5 mr-4">
   <form action="">
    <div class="row">
        <div class="col shade  d-flex flex-column align-items-start justify-content-start p-3 firstbox">
            <h6 class="fontsize4 py-2">Service Case Number</h6>
            <input class="input py-2" type="text" placeholder="Enter Service Case Number" required>
            <div>
            <button class="button1 mt-4 mb-3">Search</button>
            <button class="button2 mt-4 mb-3" routerLink="/case_creation">Create T&M</button>
            </div>

        </div>
        <div class="col">

        </div>
    </div>
   </form>

</div>
</div>