<!-- new -->
<div class="shadow border"hidden>
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fa fa-home icon" aria-hidden="true"></i> <span
                        class="ms-1 d-none d-sm-inline fontsize">Home</span>
                </a>
            </li>
            <li class="">
                <!-- <i class="fa-solid fa-comments-question-check"></i>
                <i class="fa fa-user-plus icon" aria-hidden="true"></i> -->
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle hd">
                    <i class="fa fa-comments fontsize" aria-hidden="true"></i><span
                        class="ms-1 d-none d-sm-inline ">Helpdesk</span></a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <!-- <i class="fa-solid fa-greater-than fa-rotate-90 fa-2xl"></i> -->
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"><i class="fa fa-plus-square icon" aria-hidden="true"></i><span
                                class="d-none d-sm-inline fontsize">Create case</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"><i class="fa fa-search-plus icon" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline fontsize">Search Case</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"><i class="fa fa-calendar-minus-o icon"
                                aria-hidden="true"></i><span class="d-none d-sm-inline fontsize">Case Status</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"><i class="fa fa-tachometer icon" aria-hidden="true"></i><span
                                class="d-none d-sm-inline fontsize">Dashboard</span></a>
                    </li>
                </ul>
            </li>

            <!-- <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
            </li>
            <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
            </li> -->
        </ul>
        <hr>
    </div>
</div>

<!--  -->
<div class="container-fluid">
    <div class="row flex-nowrap">
       <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0  border-end shadow">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                   <a href="#" class="nav-link align-middle px-0">
                    <img src="/assets/home.png" class="sideimg" alt="home"> <span class="sidename ms-1 d-none d-sm-inline">Home</span>
                   </a> 
                </li>
                <li>
                   <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <img src="/assets/helpdesk.png" class="sideimg" alt="helpdesk"><span class="sidename ms-1 d-none d-sm-inline">Helpdesk</span>
                   </a>
                   <ul class="collapse show nav flex-column ms-1 qq" id="submenu1" data-bs-parent="#menu">
                      <li class="w-100">
                         <a href="#" class="nav-link px-0"><img src="/assets/create-case.png" class="sideimg" alt="create-case"><span
                            class="sidename ms-1 d-none d-sm-inline">Create case</span> </a>
                      </li>
                      <li class="w-100">
                         <a href="#" class="nav-link px-0"><img src="/assets/search-case.png" class="sideimg" alt="search-case"><span
                            class="sidename ms-1 d-none d-sm-inline">Search Case</span> </a>
                      </li>
                      <li class="w-100">
                        <a href="#" class="nav-link px-0"><img src="/assets/case-status.png" class="sideimg" alt="case_status"><span
                           class="sidename ms-1 d-none d-sm-inline">Case Status</span> </a>
                     </li>
                     <li class="w-100">
                        <a href="#" class="nav-link px-0"><img src="/assets/dashboard.png" class="sideimg" alt="dashboard"><span
                           class="sidename ms-1 d-none d-sm-inline">Dashboard</span> </a>
                     </li>
                      <!-- bi bi-windows -->
                   </ul>
                </li>
                <li>
                   <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <img src="/assets/tech&field.png" class="sideimg" alt="tech&field"><span class="sidename ms-1 d-none d-sm-inline">Tech & Field</span></a>
                   <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                      <li class="w-100">
                         <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                      </li>
                      <li>
                         <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                      </li>
                   </ul>
                </li>
                <li>
                   <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <img src="/assets/supply-chain.png" class="sideimg" alt="supply-chain"><span class="sidename ms-1 d-none d-sm-inline">Supply Chain</span> </a>
                   <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                      <li class="w-100">
                         <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                      </li>
                      <li>
                         <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                      </li>
                      <li>
                         <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                      </li>
                      <li>
                         <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                      </li>
                   </ul>
                </li>
             </ul>
             <hr>
          </div>
       </div>
       <div class="col py-3">
       </div>
    </div>
 </div>