<div class="container-fluid">
    <!-- first head start -->
    <nav class="helpnav" hidden><span class="fontsize3">Helpdesk</span><span><i
        class="fa-solid fa-greater-than fa-2xl icon3"></i></span> <span class="fontsize2">Search Service
            Case</span><span><i class="fa fa-minus icon4" aria-hidden="true"></i></span> <span
            class="fontsize2">123456789</span>
        </nav>
    <hr>
    <!-- first head end -->
    
    <!-- second nav start -->
    <div class="container-fluid nav">
        <ul class="navbar-nav nav_blue2">
            <li class="nav-item dropdown s2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Take Action
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item dropfont" href="#">Add Notes</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Assign Case</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Add Schedule</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Create Part Request</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Add Part Request</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Create Skill Request</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Add Chargeable Event</a></li>
                </ul>
            </li>
            <li class="nav-item active s3">
                <a class="nav-link s2" href="#">Basic <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Case Book</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Sub Service Classes</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Parts Info</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Service Jobs</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Followers</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Previous Cases</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Change Logs</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Summary</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Customized CHP</a>
            </li>
        </ul>
    </div>
    <!-- second nav end -->

    <div class="container-fluid mt-4">
      <!-- table start -->

      <table class="table tabcol">
        <thead class="table-light ">
          <tr>
            <th scope="col" style="color: #1B3764;">Service Case Number</th>
            <th scope="col" style="color: #1B3764;">Sub Service Case Number</th>
            <th scope="col" style="color: #1B3764;">Sub Case Type</th>
            <th scope="col" style="color: #1B3764;">Reason</th>
            <th scope="col" style="color: #1B3764;">Created By</th>
            <th scope="col" style="color: #1B3764;">Created Date & Time</th>
            <th scope="col" style="color: #1B3764;">Details</th>
            <th scope="col" style="color: #1B3764;">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tabcol2">
            <td>30047</td>
            <td>56546</td>
            <td>not good</td>
            <td>Amit</td>
            <td>20-11-2022 & 12:00</td>
            <td>jcshccd guy </td>
            <td><button class="btn btn-sm upbtn" type="submit">View</button></td>
            <td><button class="btn btn-sm upbtn" type="submit">Edit</button></td>
          </tr>
          <tr>
            <td>30047</td>
            <td>56546</td>
            <td>not good</td>
            <td>Amit</td>
            <td>20-11-2022 & 12:00</td>
            <td>jcshccd guy </td>
            <td><button class="btn btn-sm upbtn" type="submit">View</button></td>
            <td><button class="btn btn-sm upbtn" type="submit">Edit</button></td>
          </tr>
        </tbody>
      </table>
      <!-- table end -->
    </div>

   
</div>