<div class="container-fluid">
    <!-- first head start -->
    <nav class="helpnav" hidden><span class="fontsize3">Helpdesk</span><span><i
        class="fa-solid fa-greater-than fa-2xl icon3"></i></span> <span class="fontsize2">Search Service
            Case</span><span><i class="fa fa-minus icon4" aria-hidden="true"></i></span> <span
            class="fontsize2">123456789</span>
        </nav>
    <hr>
    <!-- first head end -->
    
     <!-- second nav start -->
     <app-header></app-header>
     <!-- second nav end -->

    <div class="container-fluid mt-4">
      <!-- table start -->

      <table class="table tabcol">
        <thead class="table-light ">
          <tr>
            <th scope="col" style="color: #1B3764;">Service Case Number</th>
            <th scope="col" style="color: #1B3764;">Sub Service Case Number</th>
            <th scope="col" style="color: #1B3764;">Sub Case Type</th>
            <th scope="col" style="color: #1B3764;">Reason</th>
            <th scope="col" style="color: #1B3764;">Created By</th>
            <th scope="col" style="color: #1B3764;">Created Date & Time</th>
            <th scope="col" style="color: #1B3764;">Details</th>
            <th scope="col" style="color: #1B3764;">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tabcol2">
            <td>30047</td>
            <td>56546</td>
            <td>not good</td>
            <td>Amit</td>
            <td>20-11-2022 & 12:00</td>
            <td>jcshccd guy </td>
            <td><button class="btn btn-sm upbtn" type="submit">View</button></td>
            <td><button class="btn btn-sm upbtn" type="submit">Edit</button></td>
          </tr>
          <tr>
            <td>30047</td>
            <td>56546</td>
            <td>not good</td>
            <td>Amit</td>
            <td>20-11-2022 & 12:00</td>
            <td>jcshccd guy </td>
            <td><button class="btn btn-sm upbtn" type="submit">View</button></td>
            <td><button class="btn btn-sm upbtn" type="submit">Edit</button></td>
          </tr>
        </tbody>
      </table>
      <!-- table end -->
    </div>

   
</div>