.tabcol{
    font-size: 13px;
    color: #1B3764;
}
.shadow2{
    font-weight: 600;
    font-size: 14px;
    color: #012343;
    border: 1px solid #D0D0D0;
    box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}
.rp{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 15px;
    display: inline-block;
}
.rp2{
    border: none;
    outline: none;
    width: 80px;
}