<div class="container-fluid">
    <!-- first head start -->
   <div class="mt-3">
    <nav class="helpnav"><span class="fontsize3">Helpdesk</span><img src="/assets/greater-than.png" class="greaterimg" alt="colon"><span class="fontsize2">Search Service
        Case</span><img src="/assets/colon.png" class="greaterimg" alt="colon"><span
           class="fontsize2">123456789</span>
     </nav>
   </div>
    <hr>
    <!-- first head end -->
    
    <!-- second nav start -->
    <div class="container-fluid nav">
        <ul class="navbar-nav nav_blue2">
            <li class="nav-item dropdown s2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Take Action
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item dropfont" href="#">Add Notes</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Assign Case</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Add Schedule</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Create Part Request</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Add Part Request</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Create Skill Request</a></li>
                    <li><a class="dropdown-item dropfont" href="#">Add Chargeable Event</a></li>
                </ul>
            </li>
            <li class="nav-item active s3">
                <a class="nav-link s2" href="#">Basic <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Case Book</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Sub Service Classes</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Parts Info</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Service Jobs</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Followers</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Previous Cases</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Change Logs</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Summary</a>
            </li>
            <li class="nav-item s3">
                <a class="nav-link s2" href="#">Customized CHP</a>
            </li>
        </ul>
    </div>
    <!-- second nav end -->

    <div class="container-fluid mt-4">
       <div class="row">
       <div class="col-md-5">
        <div class="col-md-12 shade firstbox">
            <p class="fontsize4 fw-bold pl">Site Working Hour :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">DMR Policy :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Protocols :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Access Requirments :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Inword Requirments :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Penalty Remark :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        
       </div>
       </div>
    </div>

   
</div>
