<div class="container-fluid">
    <!-- first head start -->
   <div class="mt-3">
    <nav class="helpnav"><span class="fontsize3">Helpdesk</span><img src="/assets/greater-than.png" class="greaterimg" alt="colon"><span class="fontsize2">Search Service
        Case</span><img src="/assets/colon.png" class="greaterimg" alt="colon"><span
           class="fontsize2">123456789</span>
     </nav>
   </div>
    <hr>
    <!-- first head end -->
    
     <!-- second nav start -->
    <app-header></app-header>
     <!-- second nav end -->

    <div class="container-fluid mt-4">
       <div class="row">
       <div class="col-md-5">
        <div class="col-md-12 shade firstbox">
            <p class="fontsize4 fw-bold pl">Site Working Hour :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">DMR Policy :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Protocols :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Access Requirments :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Inword Requirments :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        <div class="col-md-12 mt-4 shade firstbox">
            <p class="fontsize4 fw-bold pl">Penalty Remark :</p>
            <input class="no-outline py-2 " type="text" placeholder="">
        </div>
        
       </div>
       </div>
    </div>

   
</div>
