<div class="container-fluid">
    <!-- first head start -->
    <nav class="helpnav" hidden><span class="fontsize3">Helpdesk</span><span><i
        class="fa-solid fa-greater-than fa-2xl icon3"></i></span> <span class="fontsize2">Search Service
            Case</span><span><i class="fa fa-minus icon4" aria-hidden="true"></i></span> <span
            class="fontsize2">123456789</span>
        </nav>
    <hr>
    <!-- first head end -->
    
    <!-- second nav start -->
    <div class="container-fluid nav" >
        <ul class="navbar-nav nav_blue2">
           <li class="nav-item dropdown s2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Take Action
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item dropfont" routerLink="/add_notes">Add Notes</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/assign_case">Assign Case</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/add_schedule">Add Schedule</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/create_part_request">Create Part Request</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/create_skill_request">Create Skill Request</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/chargeable_event">Add Chargeable Event</a></li>
              </ul>
           </li>
           <li class="nav-item active s3">
              <a class="nav-link s2" routerLink="/basic">Basic <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/casebook">Case Book</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/sub_service_cases">Sub Service Classes</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/parts_info">Parts Info</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/service_job">Service Jobs</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/followers">Followers</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/previous_cases">Previous Cases</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" >Change Logs</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/summary">Summary</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/customized_chp">Customized CHP</a>
           </li>
        </ul>
     </div>
     <!-- second nav end -->
    <!-- form start -->
    <div class="container mt-3 mb-3">

         <!-- first row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4  fw-bold">PO Number :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="PO Number">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade">
                <p class="fontsize4 fw-bold">PO Value :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="PO Value">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- first row end -->

         <!-- second row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">PO Load Date :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="DD/MM/YYYY">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">PO Type :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="PO Type">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- second row end -->

         <!-- Third row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Make :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="Make">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Model :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="Model">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- Third row end -->

         <!-- fifth row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">KAM Name :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="KAM Name">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Ticket Logged Date & Time :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="DD/MM/YYYY & HH:MM">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- fifth row end -->

         <!-- sixth row start -->
         <div class="row mt-4 mb-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Ticket Attended Date & Time:</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="DD/MM/YYY & HH:MM">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Ticket Resolved Date & Time :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="DD/MM/YYY & HH:MM">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- sixth row end -->
       
        <!-- 7 row start -->
        <div class="row">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Ticket Ageing Days :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="Days">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">SLA Status :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="SLA Status">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- 7 row end -->

         <!-- 8 row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">RCA of Breached :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="RCA of Breached">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">CAP of Breached :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="CAP of Breached">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- 8 row end -->

         <!-- 9 row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Number Of Visits :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="Number Of Visits">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Number of Paerts Used :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="Number of Paerts Used">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- 9 row end -->
        
        <!-- forth row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">WOX Parameter :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="Days">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Feedback Rating :</p>
                <input class="no-outline py-2 mb-2" type="text" placeholder="Feedback Rating">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- forth row end -->

         <!-- fifth row start -->
         <div class="row mt-4">
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">WOX Remark :</p>
                <input class="no-outline py-2 mb-5" type="text" placeholder="WOX Remark">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 shade ">
                <p class="fontsize4 fw-bold">Closing Remark :</p>
                <input class="no-outline py-2 mb-5" type="text" placeholder="Closing Remark">
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <!-- fifth row end -->

        

    </div>
    <!-- form end -->
</div>

<!-- <textarea class="form-control py-2 mb-3 shadow" id="exampleFormControlTextarea1" rows="3" placeholder="Add Case Notes"></textarea> -->