<div class="container-fluid">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 position-relative mb-5">
                <div class="position-absolute top-0 start-0">
                    <img src="/assets/logo.jpeg" class="mt-1" style="width: 160px;" alt="">
                </div>
                <div class="position-absolute top-0 end-0 mt-3">
                    Solid Sales CRM
                </div>
                
            </div>
        </div>
        <div class="row mt-4 border-top">
            <div class="col-md-3" ></div>
            <div class="col-md-6 shadow position-relative rounded mt-5" style="border:1.5px solid #D0D0D0;padding-left:30px;">
                <div class="position-absolute tri d-none d-sm-block">
                    <img src="/assets/Triangle.jpeg" style="width:318px; height:322px; padding:5px;" alt="polygon">
                </div>
                <h6 class="mb-4 mt-4 fontf"><img src="/assets/lock.png" class="lock" alt="lock"> Login</h6>
                <input class="mb-3" type="email" name="" id="" placeholder="UserName Or Email"> <br>
                <input class="mb-3" type="password" name="" id="" placeholder="Enter Your password">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked" style="font-size:13px;">
                     Remember Me
                    </label>
                  </div>
                  <div class="mt-4 mb-3">
                    <a class="btn btnlog" routerLink="/" role="button"><img src="/assets/unlock.png" class="lock" alt="lock">Sign In</a>
                  </div>
                  <h6 class="mb-4 mt-2" style="font-size:13px;"><a href="" style="text-decoration:none;color:#1B3764;">Forgot password ?</a></h6>
            </div>
            <div class="col-md-3" ></div>
        </div>
    </div>
</div>