<div class="container-fluid">
  <!-- helpdesk greater nav div start -->
  <nav class="mt-2 mb-3">
    <span style="color: #012343;font-size:20px; font-weight:600; margin-left:33px;">Helpdesk</span>
  </nav>
  <!-- helpdesk greater nav div end -->

  <div class="container-fluid border-top">
    <div class="row mt-3">
      <!-- <div class="col"></div> -->
     <div class="col c-1" routerLink="/createT&M">
      <img src="/assets/create_cs.png" class="mx-auto d-block"  style="width:110px" alt="create_case">
      <p class="text-center mt-3" style="font-size:13px; font-weight:600;">Create Case</p>
     </div>
     <div class="col c-1" routerLink="/searchcase">
      <img src="/assets/search_ser.png" class="mx-auto d-block mt-3" style="width:70px;" alt="create_case">
      <p class="text-center mt-4" style="font-size:13px; font-weight:600;">Search Service Case</p>
     </div>
     <div class="col c-1" routerLink="/case_status">
      <img src="/assets/case_st.png" class="mx-auto d-block mt-3" style="width:70px;" alt="create_case">
      <p class="text-center mt-4" style="font-size:13px; font-weight:600;">Case Status</p>
     </div>
     <div class="col c-1">
      <img src="/assets/dash.png" class="mx-auto d-block mt-2" style="width:100px;" alt="create_case">
      <p class="text-center mt-1" style="font-size:13px; font-weight:600;">Dashboard</p>
     </div>
     <div class="col"></div>
    </div>
  </div>
</div>