<div class="container-fluid">
    <!-- helpdesk greater nav div start -->
   <div>
    <nav class="mt-2" > <span class="fontsize3">Helpdesk</span><img src="/assets/greater-than.png" class="greaterimg" alt="greater-than">
         <span class="fontsize3">Search Service Case</span><img src="/assets/colon.png" class="greaterimg" alt="colon"> 
         <span class="fontsize2">12568746</span><img src="/assets/greater-than.png" class="greaterimg" alt="greater-than">
         <span class="fontsize2">Add Follower</span>
         <button type="button backbtn2" class="btn border backbtn float-end"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
    </nav>
   </div>
   <!-- helpdesk greater nav div end -->

   <!-- main div start -->

   <div class="container-fluid mt-3 border-top shade2" style="height: 100vh;" >
    <div class="row mt-3 mb-3" style="margin-left: 30px;">
         <div class="col-md-5 shade" style="border: 1px solid #D0D0D0;">
            <p class="pl mt-2">Email Address :</p>
            <input class="no-outline2" type="text" placeholder="Enter Follower Email Address">
        </div>
    </div>
    <div class="row mt-3 mb-3" style="margin-left: 30px;">
        <div class="col-md-5 shade" style="border: 1px solid #D0D0D0;">
            <p class="pl mt-2">Email Address :</p>
            <select class="no-outline2" >
                <option value="" selected="true" disabled="true">Select Follower Type</option>
                <option value="" class="dropfont2">Individual</option>
                <option value="" class="dropfont2">Group</option>
                <option value="" class="dropfont2">Customer</option>
            </select>
       </div>
       <div class="mt-5" style="margin-left:24rem;">
        <button class="btn" style="font-weight:600; background-color: #F87C2A; color: #fff;" type="submit">Add Follower</button>
      </div>
   </div>
  

</div>

   <!-- main div end -->


</div>