<div class="container-fluid">
    <!-- first head start -->
    <nav class="helpnav" hidden><span class="fontsize3">Helpdesk</span><span><i
        class="fa-solid fa-greater-than fa-2xl icon3"></i></span> <span class="fontsize2">Search Service
            Case</span><span><i class="fa fa-minus icon4" aria-hidden="true"></i></span> <span
            class="fontsize2">123456789</span>
        </nav>
    <hr>
    <!-- first head end -->
    
    <!-- second nav start -->
    <div class="container-fluid nav" >
        <ul class="navbar-nav nav_blue2">
           <li class="nav-item dropdown s2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Take Action
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item dropfont" routerLink="/add_notes">Add Notes</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/assign_case">Assign Case</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/add_schedule">Add Schedule</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/create_part_request">Create Part Request</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/create_skill_request">Create Skill Request</a></li>
                 <li><a class="dropdown-item dropfont" routerLink="/chargeable_event">Add Chargeable Event</a></li>
              </ul>
           </li>
           <li class="nav-item active s3">
              <a class="nav-link s2" routerLink="/basic">Basic <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/casebook">Case Book</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/sub_service_cases">Sub Service Classes</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/parts_info">Parts Info</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/service_job">Service Jobs</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/followers">Followers</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/previous_cases">Previous Cases</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" >Change Logs</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/summary">Summary</a>
           </li>
           <li class="nav-item s3">
              <a class="nav-link s2" routerLink="/customized_chp">Customized CHP</a>
           </li>
        </ul>
     </div>
     <!-- second nav end -->

    <div class="container mt-4">
      <!-- table start -->
<div class="mb-4">
    <a class="btn addfollowbtn" routerLink="/add_follower" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Add Follower</a>
</div>
      <table class="table tabcol">
        <thead class="table-light ">
          <tr>
            <th scope="col">Service Case Number</th>
            <th scope="col">Email Address</th>
            <th scope="col">Follower Type</th>
            <th scope="col">Follower Date & Time</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tabcol2">
            <td>123432</td>
            <td>ddk@gmail.com</td>
            <td>Type</td>
            <td>23-2-2023 & 11:50</td>
            <td><i class="fa fa-minus-circle side" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td>34323</td>
            <td>fvfv@gmail.com</td>
            <td>Type</td>
            <td>20-6-2023 & 01:50</td>
            <td><i class="fa fa-minus-circle side" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
      <!-- table end -->
    </div>

   
</div>