<div class="container-fluid">
    <!-- helpdesk greater nav div start -->
    <div>
        <nav class="mt-2" > <span class="fontsize3">Helpdesk</span><img src="/assets/greater-than.png" class="greaterimg" alt="greater-than">
             <span class="fontsize3">Search Service Case</span><img src="/assets/colon.png" class="greaterimg" alt="colon"> 
             <span class="" style="font-size: 18px;padding-right: 8px;font-weight: bold;">12568746</span><img src="/assets/greater-than.png" class="greaterimg" alt="greater-than">
             <span style="color: #012343;font-size:20px; font-weight:600;">Add Schedule</span>
             <button type="button backbtn2" class="btn backbtn float-end"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
        
            </nav>
       </div>
       <!-- helpdesk greater nav div end -->
    
   

    <!-- main start-->
    <div class="container-fluid mt-3" >
        <div class="row border-top">
            <div class="col-md-1"></div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-8 mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >Action :</p>
                        <select class="ut2">
                            <option value="" class="dropfont3" hidden>Add Schedule</option>
                            <option value="" class="dropfont3">Add Notes</option>
                            <option value="" class="dropfont3">Assign Case</option>
                            <option value="" class="dropfont3">Add Schedule</option>
                            <option value="" class="dropfont3">Create Part Request</option>
                            <option value="" class="dropfont3"> Create Skill Request</option>
                            <option value="" class="dropfont3">Add Chargeable Event</option>
                            <option value="" class="dropfont3">Add Chargeable Event</option>
             
                        </select>
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-8  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >Schedule Date & Time : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="DD/MM/Y & HH:MM">
                        <img src="/assets/calendar.png" class="calenderimg rp " alt="calender">
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-8  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >ASP : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="">
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-8  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >FE Name : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="">
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-8  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >FE Email : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="">
                      </div>
                      </div>
                </div>

            </div>
            <div class="col-md-5">

                <div class="row">
                    <div class="col-md-10  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >Service Location Time Zone : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="">
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-10  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >FE Type : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="">
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-10  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >FE Number : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="">
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-10  mt-4"> 
                      <div class="shadow2" style="margin-left:10px;">
                        <p class="ut" >FE Govt. ID No. : </p>
                        <input class="input py-2" type="text" style="border:none; outline: none;" placeholder="">
                      </div>
                      </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <a class="btn backbtn3 mt-5" style="margin-left:10px;" href="#" role="button">Add Schedule</a>
            </div>
            <div class="col-md-5"></div>
        </div>
        
              
    </div>

    <!-- main end -->


   
</div>